#main .gform_wrapper ul {
  padding-left: 0;
  list-style: none;
  margin-left: 0;
}
.gform_wrapper li {
  margin-bottom: 15px;
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: #a94442;
}
.ginput_container input:not([type="checkbox"]):not([type="radio"]),
.ginput_container select,
.ginput_container textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 4px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 4px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 4px 8px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 1s ease-in-out;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 1s ease-in-out;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 1s ease-in-out;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 1s ease-in-out;
}
.ginput_container input:not([type="checkbox"]):not([type="radio"]):focus,
.ginput_container select:focus,
.ginput_container textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) 4px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) 4px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.ginput_container input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder,
.ginput_container select::-moz-placeholder,
.ginput_container textarea::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.ginput_container input:not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder,
.ginput_container select:-ms-input-placeholder,
.ginput_container textarea:-ms-input-placeholder {
  color: #999999;
}
.ginput_container input:not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder,
.ginput_container select::-webkit-input-placeholder,
.ginput_container textarea::-webkit-input-placeholder {
  color: #999999;
}
.ginput_container input:not([type="checkbox"]):not([type="radio"])[disabled],
.ginput_container select[disabled],
.ginput_container textarea[disabled],
.ginput_container input:not([type="checkbox"]):not([type="radio"])[readonly],
.ginput_container select[readonly],
.ginput_container textarea[readonly],
fieldset[disabled] .ginput_container input:not([type="checkbox"]):not([type="radio"]),
fieldset[disabled] .ginput_container select,
fieldset[disabled] .ginput_container textarea {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.ginput_container input:not([type="checkbox"]):not([type="radio"]),
textarea.ginput_container select,
textarea.ginput_container textarea {
  height: auto;
}
.ginput_container .gfield_checkbox li {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.ginput_container .gfield_checkbox li label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.ginput_container .gfield_checkbox li[disabled],
fieldset[disabled] .ginput_container .gfield_checkbox li {
  cursor: not-allowed;
}
.ginput_container .gfield_checkbox li input {
  position: absolute;
  margin-left: -20px;
}
.ginput_container .gfield_radio li {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.ginput_container .gfield_radio li label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.ginput_container .gfield_radio li[disabled],
fieldset[disabled] .ginput_container .gfield_radio li {
  cursor: not-allowed;
}
.ginput_container .gfield_radio li input {
  position: absolute;
  margin-left: -20px;
}
.ginput_container textarea {
  height: auto;
}
.gform_button,
input[type="submit"].gform_button,
input[type="reset"].gform_button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.gform_button:hover,
input[type="submit"].gform_button:hover,
input[type="reset"].gform_button:hover,
.gform_button:focus,
input[type="submit"].gform_button:focus,
input[type="reset"].gform_button:focus {
  color: #333333;
  text-decoration: none;
}
.gform_button:active,
input[type="submit"].gform_button:active,
input[type="reset"].gform_button:active,
.gform_button.active,
input[type="submit"].gform_button.active,
input[type="reset"].gform_button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) 4px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) 4px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.gform_button.disabled,
input[type="submit"].gform_button.disabled,
input[type="reset"].gform_button.disabled,
.gform_button[disabled],
input[type="submit"].gform_button[disabled],
input[type="reset"].gform_button[disabled],
fieldset[disabled] .gform_button,
fieldset[disabled] input[type="submit"].gform_button,
fieldset[disabled] input[type="reset"].gform_button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none 4px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: none 4px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: none 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.gform_button:hover,
input[type="submit"].gform_button:hover,
input[type="reset"].gform_button:hover,
.gform_button:focus,
input[type="submit"].gform_button:focus,
input[type="reset"].gform_button:focus,
.gform_button:active,
input[type="submit"].gform_button:active,
input[type="reset"].gform_button:active,
.gform_button.active,
input[type="submit"].gform_button.active,
input[type="reset"].gform_button.active,
.open .dropdown-toggle.gform_button,
.open .dropdown-toggleinput[type="submit"].gform_button,
.open .dropdown-toggleinput[type="reset"].gform_button {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.gform_button:active,
input[type="submit"].gform_button:active,
input[type="reset"].gform_button:active,
.gform_button.active,
input[type="submit"].gform_button.active,
input[type="reset"].gform_button.active,
.open .dropdown-toggle.gform_button,
.open .dropdown-toggleinput[type="submit"].gform_button,
.open .dropdown-toggleinput[type="reset"].gform_button {
  background-image: none;
}
.gform_button .badge,
input[type="submit"].gform_button .badge,
input[type="reset"].gform_button .badge {
  color: #428bca;
  background-color: #ffffff;
}
.gform_wrapper .gfield_error .gfield_label {
  color: #a94442;
}
.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}
.gform_wrapper .gfield_error input:focus,
.gform_wrapper .gfield_error select:focus,
.gform_wrapper .gfield_error textarea:focus {
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6) 4px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6) 4px 8px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6) 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.validation_error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.validation_error h4 {
  margin-top: 0;
  color: inherit;
}
.validation_error .alert-link {
  font-weight: bold;
}
.validation_error > p,
.validation_error > ul {
  margin-bottom: 0;
}
.validation_error > p + p {
  margin-top: 5px;
}
.validation_error hr {
  border-top-color: #e4b9c0;
}
.validation_error .alert-link {
  color: #843534;
}
#gforms_confirmation_message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
#gforms_confirmation_message h4 {
  margin-top: 0;
  color: inherit;
}
#gforms_confirmation_message .alert-link {
  font-weight: bold;
}
#gforms_confirmation_message > p,
#gforms_confirmation_message > ul {
  margin-bottom: 0;
}
#gforms_confirmation_message > p + p {
  margin-top: 5px;
}
#gforms_confirmation_message hr {
  border-top-color: #c9e2b3;
}
#gforms_confirmation_message .alert-link {
  color: #2b542c;
}
.validation_message {
  color: #a94442;
}
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
  display: none !important;
  position: absolute !important;
  left: -9000px;
}
.ginput_complex {
  margin-left: -15px;
  margin-right: -15px;
}
.ginput_complex label {
  font-weight: normal;
}
.ginput_complex .ginput_left,
.ginput_complex .ginput_right {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .ginput_complex .ginput_left,
  .ginput_complex .ginput_right {
    float: left;
    width: 50%;
  }
}
.ginput_complex .ginput_full {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
