/* Variables
-------------------------------------------------------------- */
/* Colors */
/* Fonts */
/* Weights */
/* Mix-Ins */
/* From retina.less
 * A helper mixin for applying high-resolution background images (http://www.retinajs.com)
 * Append @2x to the end of your retina version. ex: /images/my_image@2x.png
 */
/* Retina image helper mixing that allows you to specify different images for different device widths */
/* Layout
----------------------------------------------- */
body {
  padding: 0;
}
#page {
  position: relative;
  background: #fff;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* Container Rewrite for Bootstrap */
#masthead {
  max-width: 1170px;
  width: 94%;
  margin: 0 auto;
}
#access {
  max-width: 1170px;
  width: 94%;
  margin: 0 auto;
}
#main {
  margin-left: -15px;
  margin-right: -15px;
  max-width: 1170px;
  width: 94%;
  margin: 0 auto;
}
#main:before,
#main:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#main:after {
  clear: both;
}
#primary {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #primary {
    float: left;
    width: 66.66666666666666%;
  }
}
#secondary {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #secondary {
    float: left;
    width: 25%;
  }
}
@media (min-width: 992px) {
  #secondary {
    margin-left: 8.333333333333332%;
  }
}
#colophon {
  max-width: 1170px;
  width: 94%;
  margin: 0 auto;
}
/* Header
----------------------------------------------- */
.menu-nav {
  display: none;
}
#page {
  position: relative;
  background: #ffffff;
  width: 100%;
  min-height: 200%;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.09, 0.95, 0.49, 0.94);
  -moz-transition: -moz-transform 600ms cubic-bezier(0.09, 0.95, 0.49, 0.94);
  -o-transition: -o-transform 600ms cubic-bezier(0.09, 0.95, 0.49, 0.94);
  transition: transform 600ms cubic-bezier(0.09, 0.95, 0.49, 0.94);
}
.menu-nav {
  padding: 12px 16px;
  background: #ffffff;
  display: block;
  z-index: 2;
}
.menu-nav a.menu-button {
  display: inline-block;
  line-height: 1;
  color: #6a6a6a !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu-nav a.menu-button:hover,
.menu-nav a.menu-button:active {
  text-decoration: none;
}
.wrap {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
/* Menu
----------------------------------------------- */
#access {
  width: 70%;
  background: #e6e6e6;
  position: absolute;
  padding-top: 3.25em;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
}
#access ul {
  display: block;
  list-style: none;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#access ul li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.4em;
}
#access ul li a {
  display: block;
  margin: 0;
  padding: 15px 15px 15px 20px;
  color: #444444;
}
#access ul li a:hover {
  color: #0ca637 !important;
  background: transparent;
}
.menu-active #page {
  -webkit-transform: translate3d(70%, 0, 0);
  -moz-transform: translate3d(70%, 0, 0);
  transform: translate3d(70%, 0, 0);
}
/* Front Page
----------------------------------------------- */
/* Page
----------------------------------------------- */
#content ul,
#content ol {
  margin: 0 0 1.5em 3em;
}
#content ul {
  list-style: disc;
}
#content .gform_wrapper ul {
  margin: 0;
}
/* Post
----------------------------------------------- */
/* Post Formats  */
/* Archive
----------------------------------------------- */
.author-bio {
  background: #ffffff;
  padding: 16px 0;
  border-bottom: 1px solid #0c79a6;
  margin: 0 0 20px 0;
}
.author-bio .avatar {
  float: right;
  margin: 0 0 14px 14px;
}
.continue-reading {
  display: inline-block;
}
/* Navigation  */
#nav-below {
  margin: 10px 0;
  padding: 10px 0;
  overflow: hidden;
}
.nav-next a,
.nav-previous a {
  background-color: #444444;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 14px;
  font-size: 1em;
  display: block;
}
.nav-previous {
  float: left;
  width: inherit;
}
.nav-next {
  float: right;
  width: inherit;
}
.site-content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.site-content .nav-previous {
  float: left;
  width: inherit;
}
.site-content .nav-next {
  float: right;
  text-align: right;
  width: inherit;
}
/* Sidebar & Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}
.widget-last {
  margin-bottom: 0;
}
/* Footer
----------------------------------------------- */
.via_tag {
  text-align: right;
}
.via_tag a {
  padding-left: 28px;
  background: no-repeat left 50%;
  background-image: url('../img/logo_via.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .via_tag a {
    background-image: url("../img/logo_via@2x.png");
    background-size: 23px 10px;
  }
}
/*  IE Specific
================================================== */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .menu-nav {
    display: none;
  }
  /* Menu
  	----------------------------------------------- */
  #access {
    position: relative;
    z-index: 2;
    background: #444444;
    font-size: 1em;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    width: 94%;
    padding: 0;
  }
  #access ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    opacity: 1;
  }
  #access ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
  }
  #access ul li a {
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 12px 16px 10px;
    line-height: 1em;
  }
  #access ul li a:hover {
    background: #cfcfcf;
    color: #444444 !important;
  }
  #access ul li:first-child {
    border-left: 0 none;
  }
  #access ul li ul.children {
    display: none;
    background: #cfcfcf;
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 220px;
    left: 0;
    text-align: left;
  }
  #access ul li ul.children li {
    border-left: 0 none !important;
    display: block;
  }
  #access ul li ul.children li a {
    color: #444444;
    padding: 8px 16px;
    display: block;
  }
  #access ul li ul.children li a:hover {
    background: #444444;
    color: #fff !important;
  }
  #access ul li:hover ul.children {
    display: block;
  }
  #access ul li:hover a {
    background: #cfcfcf;
    color: #444444;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
