/* Variables
----------------------------------------------- */
/* Variables
-------------------------------------------------------------- */
/* Colors */
/* Custom Prototyping Font */
/* Fonts */
/* Weights */
/* Mix-Ins */
/* From retina.less
 * A helper mixin for applying high-resolution background images (http://www.retinajs.com)
 * Append @2x to the end of your retina version. ex: /images/my_image@2x.png
 */
/* Retina image helper mixing that allows you to specify different images for different device widths */
/* Layout
----------------------------------------------- */
body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#page {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.content-container {
  max-width: 1170px;
  width: 94%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Header
----------------------------------------------- */
#masthead {
  background: #2a2f36;
  color: #f5fcff;
}
#masthead .site-branding {
  background-image: url('../img/logo.png');
  text-indent: -9999px;
  width: 250px;
  height: 35px;
  background: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #masthead .site-branding {
    background-image: url("../img/logo@2x.png");
    background-size: 250px 35px;
  }
}
#masthead .site-branding .site-description {
  display: none;
}
/* Navigation
----------------------------------------------- */
.menu-nav a.menu-button {
  color: #4b5461 !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu-nav a.menu-button:hover,
.menu-nav a.menu-button:active {
  text-decoration: none;
}
#masthead .site-branding {
  margin: 20px 0;
}
#masthead .nav-container {
  background: #6f7982;
  overflow: hidden;
}
#masthead #site-navigation,
#masthead #ancillary-navigation {
  background: #6f7982;
}
#masthead #site-navigation ul li a,
#masthead #ancillary-navigation ul li a {
  color: #f5fcff;
}
#masthead #site-navigation ul li a:hover,
#masthead #ancillary-navigation ul li a:hover {
  background: #383f47;
  color: #f5fcff !important;
}
/* Front Page
----------------------------------------------- */
/* Page
----------------------------------------------- */
/* Post
----------------------------------------------- */
/* Archive
----------------------------------------------- */
.continue-reading {
  display: inline-block;
}
/* Pagination
----------------------------------------------- */
.nav-next a,
.nav-previous a {
  background-color: #2a2f36;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 14px;
  font-size: 1em;
  display: block;
}
.nav-previous {
  float: left;
  width: inherit;
}
.nav-next {
  float: right;
  width: inherit;
}
/* Sidebar & Widgets
----------------------------------------------- */
.widget-last {
  margin-bottom: 0;
}
/* Footer
----------------------------------------------- */
/*  IE Specific
----------------------------------------------- */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Header
      ----------------------------------------------- */
  #masthead .site-branding {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  #masthead .site-branding .site-description {
    display: block;
  }
  .menu-nav {
    display: none;
  }
  /* Menu
      ----------------------------------------------- */
  #masthead .site-branding .site-description {
    display: none;
  }
  #masthead #site-navigation ul li a:hover,
  #masthead #ancillary-navigation ul li a:hover {
    background: #6f7982;
    color: #2a2f36 !important;
  }
  #masthead #site-navigation ul li a:hover ul.children,
  #masthead #ancillary-navigation ul li a:hover ul.children {
    display: block;
  }
  #masthead #site-navigation ul li a:hover a,
  #masthead #ancillary-navigation ul li a:hover a {
    background: #6f7982;
    color: #2a2f36;
  }
  #masthead #site-navigation ul li:first-child,
  #masthead #ancillary-navigation ul li:first-child {
    border-left: 0 none;
  }
  #masthead #site-navigation ul li ul.children,
  #masthead #ancillary-navigation ul li ul.children {
    background: #6f7982;
  }
  #masthead #site-navigation ul li ul.children li a,
  #masthead #ancillary-navigation ul li ul.children li a {
    color: #2a2f36;
  }
  #masthead #site-navigation ul li ul.children li a:hover,
  #masthead #ancillary-navigation ul li ul.children li a:hover {
    background: #2a2f36;
    color: #fff !important;
  }
  /* Footer
      ----------------------------------------------- */
  #colophon {
    text-align: left;
  }
  .via_tag {
    text-align: right;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
