/* Variables
-------------------------------------------------------------- */
/* Variables
-------------------------------------------------------------- */
/* Colors */
/* Fonts */
/* Weights */
/* Mix-Ins */
/* From retina.less
 * A helper mixin for applying high-resolution background images (http://www.retinajs.com)
 * Append @2x to the end of your retina version. ex: /images/my_image@2x.png
 */
/* Retina image helper mixing that allows you to specify different images for different device widths */
/* Typography
----------------------------------------------------------------*/
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body,
button,
input,
select,
textarea {
  color: #363d45;
  font-family: "source-sans-pro", sans-serif;
  line-height: 1.5;
}
hr {
  background-color: #687285;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}
p {
  margin-bottom: 1em;
  margin-top: 0;
}
p.intro {
  color: #687285;
  font-family: "chaparral-pro", sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1em;
  margin-bottom: 16px;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}
pre {
  background: #eee;
  font-family: "courier-prime", monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}
code,
kbd,
tt,
var {
  font-family: "courier-prime", monospace;
  font-size: 15px;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
/* Links */
a {
  text-decoration: none;
  color: #776d70;
}
a:visited {
  color: #776d70;
}
a:hover,
a:focus,
a:active {
  color: #918689;
  text-decoration: none;
}
a.btn-primary,
a.btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:active {
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 1.5em;
    line-height: 1;
  }
  h2 {
    font-size: 1.25em;
    line-height: 1;
  }
  h3 {
    font-size: 1.125em;
    line-height: 1;
  }
  h4 {
    line-height: 1;
  }
  blockquote {
    font-size: 1.25em;
    line-height: 1;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 2em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
  h2 {
    font-size: 1.5em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
  h3 {
    font-size: 1.25em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
