@import "lib/variables";
@import "../../node_modules/bulma/bulma";
@import "typography";

/* Layout
----------------------------------------------- */

body {
    padding: 0;
}

#page {
    width: 100%;
}

#content {
    padding: 1.5em .75em;

    @include respond($screen-md) {
        padding: 3em 0;
    }
    #primary {
        @include respond($screen-sm) {
            order: 2;
        }
    }
}

/* Header
----------------------------------------------- */
.fixed-header {
    .site-header {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 99999;
    }
    .site-content {
        margin-top: 88px;
    }
}

/* Page
----------------------------------------------- */
.entry-content {
    padding: 1em 0;
}

#featured-image img {
    width: 100%;
}
