@import "lib/variables";
@import "../../node_modules/bulma/bulma";

/* Layout
----------------------------------------------- */

body {
    padding: 0;
}

#page {
    width: 100%;
}

#content {
    padding: 1.5em .75em;

    @include respond($screen-md) {
        padding: 3em 0;
    }
    #primary {
        @include respond($screen-sm) {
            order: 2;
        }
    }
}

/* Page
----------------------------------------------- */

#featured-image img {
    width: 100%;
}

.page-header,
.entry-header {
    margin-bottom: 1em;
}

/* Post
----------------------------------------------- */
.entry-content {
    padding: 1em 0;
}

/* Tables
----------------------------------------------- */
.table-responsive {
    thead {
        display: none;
        @include respond($screen-md) {
            display: table-header-group;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $grey;
            @include respond($screen-md) {
                border-bottom: 0;
            }
        }
        td {
            display: block;
            border-bottom: 0;
            &:before {
                content: attr(data-heading);
                font-weight: 700;
                margin-right: 5px;
                @include respond($screen-md) {
                    display: none;
                }
            }
            @include respond($screen-md) {
                display: table-cell;
                border-bottom: 1px solid $grey;
            }
        }
    }

}

/* Pagination
----------------------------------------------- */
.pagination {
    .page-numbers {
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        box-shadow: none;
        display: inline-flex;
        font-size: 1rem;
        height: 2.25em;
        justify-content: flex-start;
        line-height: 1.5;
        padding-bottom: calc(0.375em - 1px);
        padding-left: calc(0.625em - 1px);
        padding-right: calc(0.625em - 1px);
        padding-top: calc(0.375em - 1px);
        position: relative;
        vertical-align: top;
        font-size: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        justify-content: center;
        margin: 0.25rem;
        text-align: center;
        &.current {
            color: $black;
        }
    }
}

/* Widgets
----------------------------------------------- */
.widget_silenciocategoryposts {
    .title {
        a {
            display: block;
            padding: .5em 0;
        }
    }
    .post.list {
        margin-top: 1em;
        li {
            margin-bottom: 0.75em;
        }
    }
}
