/* Variables
-------------------------------------------------------------- */
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "variables.less";

/* Layout
----------------------------------------------- */
body {
	padding: 0;
}

#page {
	position: relative;
	background: #fff;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

/* Container Rewrite for Bootstrap */

#masthead {
	.container;
}

#access {
	.container;
}

#main {
	.make-row;
	.container;
}

#primary {
	.make-md-column(8);
}

#content {

}

#secondary {
	.make-md-column(3);
	.make-md-column-offset(1);
}

#colophon {
	.container;
}

/* Header
----------------------------------------------- */
.menu-nav {
	display: none;
}


h1.site-title {

	a {

		img {

		}
	}

	a:hover {

	}
}

#main {

}

/* Menu
----------------------------------------------- */
#access {
	position: relative;
	z-index: 2;
	background: @black;
	font-size: 1em;

	ul {
		display: inline-block;
		list-style: none;
		margin: 0 auto;
		padding: 0;

		li {
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;

			a {
				color: #fff;
				display: block;
				margin: 0;
				padding: 12px 16px 10px;
			}

			a:hover {
				background: @grey;
				color: @black !important;
			}
		}

		li:first-child {
			border-left: 0 none;
		}

		li.current_page_item a, li.current-menu-item a {

		}

		li ul.children {
			display: none;
			background: @grey;
			position: absolute;
			margin: 0;
			padding: 0;
			min-width: 220px;
			left: 0;
			text-align: left;

			li {
				border-left: 0 none !important;
				display: block;

				a {
					color: @black;
					padding: 8px 16px;
					display: block;
				}

				a:hover {
					background: @black;
					color: #fff !important;
				}
			}
		}

		li:hover ul.children {
			display: block;
		}

		li:hover {
			a {
				background: @grey;
				color: @black;
			}
		}
	}
}

/* Front Page
----------------------------------------------- */

/* Page
----------------------------------------------- */

#content {
	ul, ol {
		margin: 0 0 1.5em 3em;
	}

	ul {
		list-style: disc;
	}

	.gform_wrapper {
		ul {
			margin: 0;
		}
	}
}

/* Post
----------------------------------------------- */
.entry-meta {

}

.single .byline, .group-blog .byline {

}

.entry-content, .entry-summary {

}

/* Post Formats  */
.aside {

}

.link {

}

.image-post {

}

.quote {

}

.gallery {

}

.video {

}

/* Archive
----------------------------------------------- */
.author-bio {
	background: @white;
	padding: 16px 0;
	border-bottom: 1px solid @primary;
	margin: 0 0 20px 0;

	.avatar {
		float: right;
		margin: 0 0 14px 14px;
	}
}

.continue-reading {
	display: inline-block;
}

/* Navigation  */

#nav-below {
	margin: 10px 0;
	padding: 10px 0;
	overflow: hidden;
}

.nav-next a, .nav-previous a {
	background-color: @black;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 14px;
	font-size: 1em;
	display: block;
}

.nav-previous {
	float: left;
	width: inherit;
}

.nav-next {
	float: right;
	width: inherit;
}

.site-content .site-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.site-content .nav-previous {
	float: left;
	width: inherit;
}

.site-content .nav-next {
	float: right;
	text-align: right;
	width: inherit;
}

/* Sidebar & Widgets
----------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget-last {
	margin-bottom: 0;
}

/* Footer
----------------------------------------------- */
.site-info {

}

.directions {

}

.social-media {

}

.via_tag {
	text-align: right;

	a {
		padding-left: 28px;
		background: no-repeat left 50%;
		.at2x('../img/logo_via.png', 23px, 10px);
	}
}

/*  IE Specific
================================================== */
.ie8 {

}

/*  Media Queries
================================================== */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

