.my_meta_control .description
{ display:none; }
 
.my_meta_control label
{ display:block; font-weight:bold; margin: 12px 0; }
 
.my_meta_control label span
{ display:inline; font-weight:normal; }
 
.my_meta_control span
{ color:#999; display:block; }
 
.my_meta_control textarea, .my_meta_control select, .my_meta_control input[type='text']
{ margin-bottom:10px; width:99%; }
 
.my_meta_control h4
{ color:#999; font-size:1em; margin: 15px 0; text-transform:uppercase; }
